*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    height: 100vh;
}
/* inizio header */
header{
    /* height: 50px; */
    background-color: black;
    /* border: 1px solid black; */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.speaker{
    text-align: end;
    padding: 4px;
}

.speaker > *{
    font-size: 16px;
    padding: 7px;
    border: none;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: white;
    font-weight: bolder;
}
/* inizio main */
main{
    background-color: black;
    /* border: 1px solid red; */
    margin-top: 40px;
    padding: 20px;
}

.box-main{
    /* height ??????? */
    width: 1300px;
    margin: 0 auto;
    /* border: 1px solid green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img{
    width: 100%;
}

.card{
    width: calc(100% / 7 - 5px);
    /* border: 1px solid pink; */
    position: relative;
    margin-bottom: 10px;
}

.name{
    position: absolute;
    bottom: 2px;
    left: 0px;
    background-color: rgba(169, 169, 169, 0.3);
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}

/* inizio footer */
footer{
    /* background-color: cadetblue; */
    /* border: 1px solid black; */
    background-color: rgb(33, 33, 33);
    position: sticky;
    bottom: 0;
    width: 100%;
    /* padding: 10px; */
}

.row-footer{
    /* height: 60px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.box-sx{
    max-width: 20%;
    display: flex;
    color: white;

}

.box-video{
    text-align: center;
    padding-left: 5px;
}

.chevron-up{
    font-size: 10px;
    margin: 10px 20px;
}

.box-center{
    max-width: 60%;
    display: flex;
    color: white;
    text-align: center;
}

.box-invite{
    margin: 0px 8px;
}

.share-green{
    color: green;
}

.box-dx{
    text-align: center; 
    margin: 0px 5px;
    max-width: 20%;
    color: red;
    font-weight: bolder;
    background-color: rgba(169, 169, 169, 0.3);
    padding: 20px;
}


